services:
  vesselalert:
    image: ghcr.io/sdr-enthusiasts/docker-vesselalert
    container_name: vesselalert
    hostname: vesselalert
    restart: always
    environment:
      # General Notification parameters:
      - NOTIFY_SKIP_FILTER=^[9]{2}[0-9]{7}$|^[0-9]{7}$
      - NOTIFY_MIN_DIST=
      - NOTIFY_EVERY=86400
      - NOTIFICATION_MAPURL=yes
      - NOTIFICATION_THROTTLE=on
      - NOTIFY_ONLY_NEW_ON_STARTUP=on
      - AIS_URL=http://my.ais-catcher/website:8100
      # latitude and longitude of the receiver can be specified, will display the distance from in the toot
      - LAT=xx.xxxxx
      - LON=xx.xxxxx
      - SCREENSHOT_URL=http://ais-screenshot:5042
      # optional parameters that you probably don't want to touch unless you really know what you are doing:
      - CHECK_INTERVAL=30
      - VESSELDBFILE=/data/vessel.db
      - VESSELDBLOCK=/run/vesseldb.lock
      - MIN_MSG_COUNT=10
      - MAX_MSG_AGE=86400
      - DEBUG=
      - LANGUAGE=en_US
      # Mastodon-related settings
      - MASTODON_SERVER=mastodon.social
      - MASTODON_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
      - MASTODON_CUSTOM_FIELD=
      - MASTODON_POST_VISIBILITY=unlisted
      - MASTODON_LINK_SHIPXPLORER=on
      - MASTODON_LINK_MARINETRAFFIC=on
      - MASTODON_LINK_VESSELFINDER=on
      # Discord-related settings
      - DISCORD_NAME=myname mylocation
      - DISCORD_AVATAR_URL=https://avatarlink.png
      - DISCORD_WEBHOOKS=https://discord.com/api/webhooks/xxxxx/xxxx,https://discord.com/api/webhooks/yyyy/yyyy
      # BlueSky-related setting
      - BLUESKY_HANDLE=MyBskyHandle.bsky.social
      - BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
      # MQTT-related settings
      - MQTT_URL=192.168.0.1:1883
      - MQTT_TOPIC=home/vesselalert
      - MQTT_CLIENT_ID=my-client-if
      - MQTT_DATETIME_FORMAT=%F %X

    tmpfs:
      - /tmp
    volumes:
      - /opt/ais/data:/data
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"

# Optional Screenshot container
# We recommend using this only if your system has sufficient resources
# Note that is this container is ~250-300 Mb in download size
# and requires a lot of system resources when an image is retrieved
#
# To configure:
# - replace BASE_URL with the URL of your AIS-Catcher website.
# - you can add additional HTTP GET parameters to the MAP_ARGS variable
#   For example: - MAP_ARGS=zoom=11&map=mapnik
#
  ais-screenshot:
    image: ghcr.io/sdr-enthusiasts/screenshot:aiscatcher
    tty: true
    container_name: ais-screenshot
    hostname: ais-screenshot
    restart: always
    shm_size: 1gb
    environment:
      - LOAD_SLEEP_TIME=10
      - BASE_URL=http://my.ais-catcher/website:8100
      - MAXTIME=60
    ports:
      - 5042:5042
